.btn {
  padding: 1rem;
  border-radius: 100%;
  position: fixed;
  right: 1.5rem;
  bottom: 6rem;
  background-color: var(--quaternary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (min-width: 40em) {
  .btn {
    display: none;
  }
}